p {
    background-color: blueviolet;
}

h1 {
    color: blue;
}


/*Etiqueta id*/

#pa {
    color: white;
}

.parrafo {
    color: brown;
}

.imagenpequena {
    height: 200px;
}

.texto {
    font-size: x-large;
    font-weight: 300;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.parrafoangosto {
    width: 1000px;
}

.contenedor {
    margin-top: 20px;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-right: 50px;
    border: 2px solid red;
    padding: 10px;
}